html, body{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    background: var(--clr-background);
    
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #1c1c1c;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    size-adjust: auto;
    background-image: url("../img/whites.jpg");
    
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}
    
h1 , h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;


}
h1 {
    font-weight: bolder;
}
.botao {
        color: #FFFFFF;
        text-decoration: none;
        padding-bottom: 5px;
        font-size: .9em;
        border-radius: 3px;
        transition: background .3s;
       
        
}
.botao:hover{
    background-color:  #5858b6;
    color:#23c7bf
    
    
    
}


nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 800;
        background-image: linear-gradient(to left,#3636b3,#288f8fef);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 1px 1px 1px 5px  #ccc;

}

.img1{
    width: 60px;
    max-width:auto;
    min-width:auto;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    border: 0;
    padding-top: 15px;
    justify-content: center;

}

.title {
    padding-top: 5px;
    margin-top: 0;
    size-adjust: auto;
}
.popoverimg {
    max-width: 175px;
    width: 100px;
}
.inst {
    align-items: flex-start;
   padding-right: 0px;
   }
   .insts {
    padding-right: 120px;
    align-items: flex-start;
    text-decoration: none;
    color: #1c1c1c;
    display: inline-block;

   }
   .insts:hover {
    color: #2c9696;
   }
.titleer {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: 'Trispace', sans-serif;
    text-align: center;
    justify-content: baseline;
    font-display: inline;
   padding-left: 20px;
   }
article {
    display: flex;
    justify-content: flex-end;

}
article div {
    display: flex;
    justify-content: space-around;
    padding-right: 0;
    border: 0;
    margin: 0;
    padding-left: 3em;
}

.wrapper:hover .content {
    visibility: visible;
    position: absolute;
}
.content {
    visibility: hidden;
    background-color: #f1f1f1;
    padding: 0px;
    position: absolute;
    align-items: center;
    display: block;
    transition: none;
    box-shadow: 1px 1px 1px 4px #ccc;



}
.content::before{
    content:'';
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent #ccc transparent;
    position: absolute;
    left: calc(50%-100px);
    left: 51%;
    margin-top: -10px;
    
    

}

.popover-h4{
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.popover-list {
    list-style: none;
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
}
.popover-button{
    text-decoration: none;
    background-image: linear-gradient(to left,#3636b3,#288f8fef);
    color: #f1f1f1;
    padding: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: block;

}
.popover-button:hover{
    color: #23c7bf
}
.text {
    margin-bottom: 10px;
    padding-left: 95px;
    padding-bottom: 5px;
}
nav > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: 'Regular 400 italic', serif;

}
.wrapper2:hover .content2 {
    visibility: visible;
    position: absolute;
    color: #2c9696;
}

.content2 {
    visibility: hidden;
    background-color: #FFFFFF;
    padding: 0px;
    position: absolute;
    align-items: center;
    display: block;
    transition: none;
    font-weight: 100;
    box-shadow: 1px 1px 1px 1px rgb(39, 33, 116);
    font-size: 14px;
    color: #f1f1f1;
    transition: background .3s;
    border-bottom: 1px solid;
    border-color: #f1f1f1;

}
.content2::before{
    content:'';
    border-style: solid;
    border-width: 0px 8px 8px 8px;
    border-color: transparent transparent #ccc transparent;
    position: absolute;
    left: calc(50%-100px);
    left: 65%;
    margin-top: -10px;
    transition: none;

}


.journal:hover{
    color: #23c7bf;
    background-color:  #7171db;
    
    }
.botao2 {
    color: #f1f1f1;

    text-align: center;
    align-items: baseline;
    
}
.botao2:hover {
    color: #23c7bf;
}
.journal {
    text-decoration: none;
    color: #1c1c1c;
    padding: 0px;
    text-align: center;
    display: block;
    text-align: start;
    padding-left: 25px;
    border-bottom: 0.5px solid;
    border-color: #272626;
    align-items: center;

}
.popoverimg1 {
    text-decoration: none;
    background-image: linear-gradient(to left,#3636b3,#288f8fef);
    color: #f1f1f1;
    text-align: center;
    padding-left: 20px;
    display: block;
    transition: background .3s;
    background-size: contain;
    border-bottom: 1px solid;
    border-color: #f1f1f1;
    color: #f1f1f1;
        background-repeat: no-repeat;
        background-position: left;
        text-decoration: none;
}
.popoverimg1:hover {
        color: #23c7bf;
        background-color:  #5e5ed1;
}
.popoverimg2 {
    background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        text-decoration: none;
        color: #f1f1f1;
        text-align: center;
        display: block;
        border-bottom: 1px solid;
        border-color: #f1f1f1;
        transition: background .3s;
        padding-left: 20px;
        background-image: linear-gradient(to left,#3636b3,#288f8fef);
}
.popoverimg2:hover {
        color: #23c7bf;
        background-color:  #5e5ed1;
        background-image: 10px;
}
.popoverimg3 {
    text-decoration: none;
    background-image: linear-gradient(to left,#3636b3,#288f8fef);
    padding-left: 20px;
    color: #f1f1f1;
    text-align: center;
    display: block;
    background-size: contain;
    color: #f1f1f1;
    transition: background .3s;
    border-bottom: 1px solid;
    border-color: #f1f1f1;
        background-repeat: no-repeat;
        background-position: left;
        text-decoration: none;

}
.popoverimg3:hover {
        color: #23c7bf;
        background-color:  #5e5ed1;
}
nav ul {
    display:flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
    font-weight: 800;
}

nav ul li {
    text-align: center;
    width: 100%;
    font-weight: 800;
}

nav ul li a {
    display: inline-block;
    padding: 10px;
    padding-left: 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 1.50em;
   
}

header {
    display: flex;
    flex-direction: column ;
    align-items: center;
    background-image: url("imagemfoda.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    font-weight: 800;
    padding-bottom: 500px;
    

}
 
header h1{
    color: #1c1c1c;
    font-weight: 800;
    font-size: 40px;
    padding-top: 300px;
    font-family: 'Fuzzy Bubbles', 'cursive';
}

header p{
    margin-bottom: 2em;
    font-weight: 800;
    color: #1c1c1c;
    font-weight: 700;
}

#sobre {
    display: flex;
    flex-direction: column ;
    align-items: center;
    text-align: center;
    background-color: #191970;
    background-image: linear-gradient(to left,#3636b3,#288f8fef);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 1px 1px 1px 5px  #ccc;

}

#sobre h2 {
    color: #FFFFFF;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
    color: #FFFFFF;
}

#sobre .botao {
    background-color: #f1f1f1;
    color: #1c1c1c;
}

#Saibamais {
    padding-top: 100px;
    display: table;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    justify-content: space-around;
    overflow: auto;
}
.saibamais-h3 {

    font-family: 'Source Sans Pro', sans-serif;
}
.saibamais-ul {
    width: 700px;
    font-size: 20px;
}

.h2, .h3 {
    display: inline-block;
    align-items: center;
    text-align: center;
    font-weight: 800;
}
.h2 {
    font-size: 3.8em;
    align-items: center;
    justify-content: center;
    padding-left: 70px;
}
.eta {
    width: 30em;
    padding-right: 10px;
    display: block;
    align-items: flex-start;
    height: 35em;
    padding-bottom: 2.5em;
    overflow: auto;
    padding-left: 20px;
    
}
.eta2 {
    width: 30em;
    padding-right: 10px;
    display: block;
    align-items: flex-start;
    height: 35em;
    padding-bottom: 1em;
    overflow: auto;
    padding-left: 20px;

}
.saibamais-p {
    font-weight: bold;
    }

#Saibamais div{
    flex-direction: column; 
    align-items: flex-start;
    margin-top: 30px;
    min-width: 300px;
    border-radius: 10px;
    justify-content: space-around;
    font-weight: 800;
}
.imagemsaneamento{
    width: 60em;
    justify-content: flex-start;
    padding-right: 0;
}

#Saibamais div p{
    text-align: left;
    justify-content: space-around;

}

#projeto {
    display: flex;
    flex-direction: column ;
    align-items: center;
    padding-top: 20px;
}

#projeto h2 {
    margin-bottom:20px;
}

#projeto img {
    width: 100%;
}

#contatos {
    display: flex;
    flex-direction: column ;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contatos h2 {
    color: #000000;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: #FFFFFF;
    background-image: linear-gradient(to left,#3636b3,#288f8fef);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 1px 1px 1px 5px #ccc;
    text-align: center;
}
footer a {
    color: #2bbec9;
    }

footer a:hover{
    color: #00ffff;
}
.back {
    border-left: solid 5px;
    border-color: #2c9696;
    }
.article1 {
        justify-content: center;
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 50px;
        padding-top: 30px;
    }
.article1-h1 {
    text-align: center;
    font-size: 70px;
    display: flex;
    justify-content: center;
}
    
.article1-paragraph {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}
.article1-img {
    justify-content: center;
    align-items: center;
    padding-left: 350px;
}
.saneamento-image {
    justify-content: center;
    width: 900px;
    align-items: center;
    display: block;
    padding-left: center;
}
.article2-img{
    justify-content: center;
    width: 700px;
    padding-left: 250px;
}
.article2-ul {
    font-size: 20px;
}

.homepage-grupos1 {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    align-items: flex-start;
    padding: 20px;
    justify-content: baseline;
    padding-top: 5px;
    padding-bottom: 0;
}
.homepage-grupos2 {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    align-items: flex-start;
    padding: 20px;
    justify-content: baseline;
    padding-top: 5px;
    padding-bottom: 0;
}
.homepage-grupos3 {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    align-items: flex-start;
    padding: 20px;
    justify-content: baseline;
    padding-top: 5px;
    padding-bottom: 0;
}
.homepage-grupos4 {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    align-items: flex-start;
    padding: 20px;
    padding-bottom: 0;
    justify-content: baseline;
    padding-top: 5px;
}
.homepage-grupos5 {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    align-items: flex-start;
    padding: 20px;
    justify-content: baseline;
    padding-top: 5px;
    padding-bottom: 0;
   
}
.homepage-grupos6 {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    align-items: flex-start;
    padding: 20px;
    justify-content: baseline;
    padding-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 0;
}
.homepage-ul {
    padding-left: 0;
}
.article4-h1 {
    justify-content: center;
    padding-left: 90px;
}

.article4-paragraph {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    display: inline-block;
  
}
.article4-div{
    display: inline-block;
    justify-content: flex-start;
}
.article4-img {
    justify-content: flex-start;
    display: block;
    padding-bottom: 30px;
    width: 800px;

}
.article4-img2 {
    width: 200px;
    padding-left: center;
}
.article-h2 {
    font-size: 4em;
    align-items: center;
    justify-content: center;
    padding-left: 80px;
}
.article5-img2 {
    width: 500px;
    padding-left: 270px;
}
.homepage-li {
    padding-bottom: 40px;
}


@media screen and (min-width: 768px) {

    nav {
        flex-direction: row;
        justify-content: space-around;
    

    }

    nav ul {
        flex-direction: row;
        width: 70%;
    }

     nav, nav ul {
    position: relative;
    opacity: 1;
    text-align: center;
    -webkit-transition: all 300ms ease;
    
    transition: all 300ms ease;
    }

    .botao:hover{
    text-decoration: none;
    outline: none;
    }
    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
    #Saibamais {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0 auto;
        justify-content: space-around;
        width: 85%;
        display: block;

    }


    #Saibamais h2 {
        text-align: center;
        width: 0%;
        display: block;
    }

    #Saibamais div {
        justify-content: space-around;
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
        font-size: 1em;
        display: flex;
        font-display: flex;
        padding-left: 30px;
        flex-direction: column;

    }

    #Projeto {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #Projeto h2 {
        width: 100%;
        text-align: center;
    }
    #Projeto img {
        width: 33%;
    }

    #Contatos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #Contatos h2, #Contatos p {
            width: 100%;
    }
}
@media screen and (max-width: 1176px) {
    #Saibamais {
        width: 100%;
        display: block;

    }


    #Saibamais h2 {
        display: block;
    }

    #Saibamais div {
        display: flex;
        flex-direction: column;
    
    }
    .eta {
        width: 100%;
        display: block;
        padding-right: 0;

    }
    
 
    .content2 {
        left: calc(50%-10px);
        left: 39%;
    }
    .caption13 {
        display: none;
    }
}
@media screen and (max-width: 780px){
    .article1 {
        padding-left: 70px;
        padding-right: 70px;
        max-width: fit-content;
    }
    .saibamais-p {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: left;
    
        justify-content: left;
        
    }
       
    .eta {
        flex-direction: column;
        display: none;
        padding: 0;
    }
    .eta2 {
        flex-direction: column;
        display: none;
        padding: 0;
    }
    .caption13 {
        display: none;
        padding: 0;
        overflow: hidden;
        padding-right: 50px;
    }
    .content2::before {
        left: calc(50%-10px);
        left:27%;
    }
    .img1 {
        padding-right: 97px;
    }
  
    .article1-img {
        text-align: start;
        justify-content: flex-start;
        padding-right: 50px;
        padding-left: 10px;
        width: 300px;
     
        
    }
    .saneamento-image {
        text-align: start;
        justify-content: flex-start;
        padding-right: 50px;
        padding-left: 5px;
        width: calc(400px - 10%);
        height: 320px;
      
       
    }
    .saibamais-ul {
        width: 300px;
    }
    .article2-img {
        padding-left: 10px;
        width: 350px;
        justify-content: center;
    }
    .article1 {
        padding: 20px;
    }
    .article4-img2 {
        padding-left: calc(100px - 10%); 
    }
    .article1-h1 {
        font-size: 50px;
    }
    .h2, .h3 {
        padding-left: 0px;
        padding-right: 20px;
    }
    .h2 {
        font-size: 40px;
        font-weight: bold;
        max-width: fit-content;
    }
    .h3 {
        font-size: 20px;
       
    }
    header {
        background-image: url(imagemfodamobile.jpeg);
        
    }
    .article5-img2 {
        padding-left: 10px;
        width: 350px;
        justify-content: center;
    }
    #Saibamais div {
        padding-right: calc(80px - 10%);
    }
}